@model Product
@{
    ViewData["Title"] = "ShowProduct";
}
<div class="offset-1">
    <h3>@Model.Category.Name</h3>

    <div class="bg-light card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/ProductsImages/@Model.ImageName" style="height:200px; width:180px;" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">قیمت: @Model.Price تومان</p>
                    <p class="card-text"><small class="text-muted">توضیحات: @Model.Description</small></p>
                    <p>
                        <a class="btn btn-success" asp-controller="Order" asp-action="AddToCart" asp-route-productId="@Model.ProductId">افزودن به سبد خرید</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="offset-1">

    <ul class="comment-section">

        <li class="comment author-comment">
            <div class="info">
                <a>غزل</a>
                <span>دیروز</span>
            </div>
            <a class="avatar">
                <img src="/UserAvatar/c20389eee3c941bea7e6f99c3a4eab6a.jpg" width="35" alt="Profile Avatar" title="Anie Silverston" />
            </a>
            <p>من راضی بودم واقعا کیفیت بالایی داشت</p>
        </li>

        <li class="comment author-comment">
            <div class="info">
                <a >مهرداد</a>
                <span>سه ساعت قبل</span>
            </div>
            <a class="avatar">
                <img src="/UserAvatar/Defaulte.jpg" width="35" alt="Profile Avatar" title="Jack Smith" />
            </a>
            <p>رنگش کمی تیره تر از چیزی بود که توی سایت دیدیم اما از جنسش راضی بودم</p>

        </li>


        <li class="comment author-comment">
            <div class="info">
                <a>حسام</a>
                <span>25 اردیبهشت</span>
            </div>
            <a class="avatar">
                <img src="/UserAvatar/17bbfa4fe40a4e1e8022d8bb2cbab1bd.jpg" width="35" alt="Profile Avatar" title="Jack Smith" />
            </a>
            <p>عالی بود ممنون از کیفیت محصولتون</p>

        </li>


        <!-- More comments -->

        <li class="write-new">

            <form action="#" method="post">
                <textarea placeholder="نظر خودتان را بنویسید" name="comment"></textarea>
                <div>
                    
                    <button class="btn btn-primary" type="submit">ارسال</button>
                </div>
            </form>

        </li>

    </ul>

</div>
