@model Product
@{
    ViewData["Title"] = "ShowProduct";
    List<Comment> Comments = ViewBag.comments as List<Comment>;
}
<div class="offset-1">
    <h3>@Model.Category.Name</h3>

    <div class="bg-light card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/ProductsImages/@Model.ImageName" style="height:200px; width:180px;" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">قیمت: @Model.Price تومان</p>
                    <p class="card-text"><small class="text-muted">توضیحات: @Model.Description</small></p>
                    <p>
                        <a class="btn btn-success" asp-controller="Order" asp-action="AddToCart" asp-route-productId="@Model.ProductId">افزودن به سبد خرید</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="offset-1 mt-5">
    <h3>نظرات کاربران</h3>
</div>


<div class="offset-1">

    <ul class="comment-section">

        @foreach (var item in Comments)
        {
            <li class="comment author-comment">
                <div class="info">
                    <a>@item.User.Name</a>
                    <span>@item.DateTime</span>
                </div>
                <a class="avatar">
                    <img src="/UserAvatar/@item.User.AvatarName" width="35" alt="Profile Avatar" />
                </a>
                <p>@item.CommentText</p>
            </li>
        }


        <!-- More comments -->

        <li class="write-new">

            <form asp-controller="Product" asp-action="AddComment">
                <input type="hidden" asp-for="@Model.ProductId" name="productId" />
                <textarea id="txtcomment" placeholder="نظر خودتان را بنویسید" name="comment"></textarea>
                <div>

                    <button class="btn btn-primary" type="submit">ارسال</button>
                </div>
            </form>

        </li>

    </ul>

</div>
